voice to text prototype/bin/Debug/stcredentials.txt
voice to text prototype/bin/Debug/tscredentials.txt
*.wav
*.opus
voice to text prototype/bin/stcredentials.txt
voice to text prototype/bin/tscredentials.txt